.navbar {
	width: 80%;
	margin: 0 auto;
	/*background-color: #34495e;*/
	padding: 2.5vmin 0;
	text-align: center;
}
.navbar li {
	display: inline-block;
	text-align: center;
	width: calc( 33% - 1.25vmin );
	/*pointer-events: none;*/
}
#title {
	color: #ecf0f1;
	font-size: 6vmin;
}
#score {
	font-size: 4vmin;
	text-align: center;
	width: 100%;
}
button {
	color: #ecf0f1;
	background-color: rgba(0,0,0,0);
	border: 0;
}
button:focus {
	outline: 0;
}