* {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	padding:0;
	margin:0;
  font-size: 16px;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

/*/////////////////////////////////////////////     GAMEOVER SCREEN     //////////////////////////////////////////////////////////////////////*/
#gaveoverscreenlayout {
  display: none;
}

#gameoverscreen {
  padding-top: 2rem;

  /* Flex parent props */
	display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#gameoverscreen > * {
  width: 100%;
  z-index: 1;
}

/*/////////////////////////////////////////////     GAMEOVER HEADER     //////////////////////////////////////////////////////////////////////*/
#gameoverscreenheader {
  font-family:'Open Sans';
	color:#FFFFFF;
  /* Flex item props */
  flex: 0 1 auto;
  
  /* Flex parent props */
  display: flex;
  flex-direction: column;
}

#highscorehistory {
  /* Flex parent props */
	display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#highscorehistory > * {
  width: 100%;
}

#highscorehistorydisplay {

  /* Flex parent props */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#highscorehistorydisplay > * {
  width: 60%;
}

#highscoredisplay {
  z-index: 1;

  /* Flex parent props */
	display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#highscoredisplay.highScoreInGameTextHeader {
  color: #FFFFFF;
  font-weight: 200;
}

#highscoredisplay #currentHighScore {
  font-size:2rem;
  font-weight: 900;
  margin-top: -0.7rem;
}

/*/////////////////////////////////////////////     GAMEOVER BODY     //////////////////////////////////////////////////////////////////////*/
#gameoverscreenbody {
  font-family:'Open Sans';
	color:#FFFFFF;
  padding-top: 3rem;
  /* Flex item props */
  flex: 1 1 auto;
  
  /* Flex parent props */
  display: flex;
  flex-direction: column;
}

#gameoverdisconnected {
  /* Flex parent props */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#gameoverdisconnected > * {
  width: 70%;
} 

#gamestats {
  /* Flex parent props */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#gamestats > * {
  width: 100%;
}

#gamestatsscores {
  /* Flex parent props */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#gamestatsscores > * {
  width: 30%;
}

#cScore {
	font-size: 2.88rem;
	font-weight: 500;
	margin-bottom:5px;
	margin-top:-10px;
}

#cTime {
	font-size: 1.2rem;
	font-weight: 500;
	margin-bottom:5px;
	margin-top: -10px;
}

#currentScoreAndTime {
  /* Flex parent props */
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}

#currentScoreAndTime > :nth-child(1) {
  flex: 1 1 auto;
}

/*/////////////////////////////////////////////     GAMEOVER FOOTER     //////////////////////////////////////////////////////////////////////*/
#gameoverscreenfooter {
  font-family:'Open Sans';
	color:#FFFFFF;
  padding-top: 1rem;

  /* Flex item props */
  flex: 0 1 auto;
  
  /* Flex parent props */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gameoverscreenfooter > * {
  width: 100%;
}

#gaveoveroptions {

  /* Flex parent props */
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
}

#gaveoveroptions > * {

  /* Flex item props*/
  flex: 1 1 auto;
}

.gameoverButton {
  display: none;
  cursor: pointer;
  height: 1.7rem;
}

#worldwide {
  animation: neonglowyellow 1.5s alternate infinite;
}

#restart {
  filter: invert(53%) sepia(12%) saturate(372%) hue-rotate(178deg) brightness(92%) contrast(93%);
  animation: neonglowwhite 1.5s alternate infinite;
}

@keyframes neonglowwhite {
  0% {
   filter:
    invert(53%) sepia(12%) saturate(372%) hue-rotate(178deg) brightness(92%) contrast(93%)
    drop-shadow(0 0 0px #FFFFFF);
  }
  
  100% {
    filter:
      invert(0%) sepia(0%) saturate(0%) hue-rotate(88deg) brightness(109%) contrast(100%)
      drop-shadow(0 0 3px #FFFFFF)
      drop-shadow(0 0 6px #FFFFFF)
      drop-shadow(0 0 8px #FFFFFF);
  }
}

@keyframes neonglowyellow {
  0% {
   filter:
    invert(68%) sepia(33%) saturate(286%) hue-rotate(2deg) brightness(90%) contrast(90%)
    drop-shadow(0 0 0px #B5A37F);
  }
  
  100% {
    filter:
      invert(87%) sepia(50%) saturate(835%) hue-rotate(330deg) brightness(190%) contrast(101%)
      drop-shadow(0 0 3px #D49F2C)
      drop-shadow(0 0 6px #EBB031)
      drop-shadow(0 0 8px #FFBE35);
  }
}

/*/////////////////////////////////////////////     GENERAL PURPOSE     //////////////////////////////////////////////////////////////////////*/
.score {
  font-weight: 400;
	line-height:18px;

  /* Flex parent props */
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}

.bigtitle {
	font-weight: bold;
	font-size: 1.3rem;
  display: flex;
  justify-content: center;
}

.score img {
  width: 2rem;
}
.score > :nth-child(1) {
  padding-right: 1.2rem;  
}

.score > :nth-child(2) {
  flex: 1 1 auto;  
}

#xteamlogosvg {
  width: 3rem;
  position: fixed;
  left: calc(50% - 1.5rem);
  top: calc(50% - 1.5rem);
}

#pauseBtn {
	z-index: 1;
	display: none;
	position: fixed;
	right: 0;
	bottom: 0;
	cursor: pointer;
	height: 2.8rem;
  padding-bottom: 5%;
  padding-right: 5%;
}

/*/////////////////////////////////////////////     START BUTTON     //////////////////////////////////////////////////////////////////////*/
#startbutton {
  cursor: pointer;
  position: absolute;
  display: block;
  color: #777F8C;
  font-family: 'Open Sans';
  font-weight: 900;
  font-size: 1.3rem;
  left: calc(50% - 1.692rem);
  top: calc(100% - 8rem);
  animation: neonglowtext 2s alternate infinite;
}

@keyframes neonglowtext {
  0% {
    color: #777F8C;
    text-shadow: none;
  }
  
  100% {
    color: #FFFFFF;
    text-shadow: 
    0 0 10px #FFFFFF,
    0 0 20px #FFFFFF,
    0 0 40px #FFFFFF,
    0 0 80px #FFFFFF,
    0 0 160px #FFFFFF;
  }
}

/*/////////////////////////////////////////////     PAUSE SECTION     //////////////////////////////////////////////////////////////////////*/

#pausesection {
  z-index: 1;
  width: 100%;
  padding-top: 7rem;
  display: none;
  
  /* Flex parent props */
	display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#pausesection > * {
  width: 100%;
  z-index: 1;
}

.overlay {
	color: #232323;
	text-align: center;
}

.centeredHeader {
  font-family: 'Open Sans';
  font-weight: 600;
	font-size: 1.6rem;
	line-height: 4rem;
}

/*/////////////////////////////////////////////     PAUSE SECTION BODY    //////////////////////////////////////////////////////////////////////*/

#overlayhelpscreen {
  display: none;
}

#helpScreen {
  padding-bottom: 1rem;
  color:#232323;
  font-family: 'Open Sans';
  
  /* Flex parent props */
	display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#helpScreen > hr {
	background-color:#232323;
	height: 1px;
	border: 0;
}

#instructionsbody {
	width: 80%;

  /* Flex parent props */
	display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#instructionsbody > * {
  width: 100%;
}

.instructionspart {
	text-align: left;
  font-weight: 400;

  /* Flex parent props */
	display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}

.instructionspart > *:nth-child(1) {
  
  /* Flex item props */
  flex: 1 1 auto;

  /* Flex parent props */
  display: flex;
  justify-content: center;
}

.instructionspart img {
  height: 4rem;
}

.instructionspart p {
  font-size: 0.9rem;
	margin-bottom: 0.9375rem;
}

.instructionstext {
  width: 60%;
}

.instructionstext > b {
  font-size: 0.9rem;
}

.instructionstext strong {
  font-size: 0.9rem;
}

.instdesktop {
  display: none;
}

.instmobile {
  display: none;
}

#afterhr {
	align-self: flex-start;
  font-size: 0.6rem;
}

#afterhr > p {
  font-size: 0.6rem;
  margin-bottom: auto;
}

#afterhr a {
  font-weight: bold;
  font-size: 0.6rem;
}

#afterhr img {
  width: 0.5rem;
}


#howtophone {
  animation: phonetab 2s ease-in-out infinite;
}

@keyframes phonetab {
  0% {
    content:url('../images/how_to_phone/how_to_phone_1.svg');
  }
  
  50% {
    content:url('../images/how_to_phone/how_to_phone_2.svg');
  }

  100% {
    content:url('../images/how_to_phone/how_to_phone_3.svg');
  }
}


#howtodesktop {
  animation: desktoparrowkeypress 2s ease-in-out infinite;
}

@keyframes desktoparrowkeypress {
  0% {
    content:url('../images/how_to_desktop/how_to_desktop_1.svg');
  }
  
  50% {
    content:url('../images/how_to_desktop/how_to_desktop_2.svg');
  }

  100% {
    content:url('../images/how_to_desktop/how_to_desktop_3.svg');
  }
}


#howtodesktopspeed {
  animation: desktoparrowkeypressspeed 2s ease-in-out infinite;
}

@keyframes desktoparrowkeypressspeed {
  0% {
    content:url('../images/how_to_desktop/how_to_desktop_1.svg');
  }

  100% {
    content:url('../images/how_to_desktop/how_to_desktop_speed.svg');
  }
}

#hexagon_timer_speed_container {
  height: 4rem;
}

#hexagon_timer_speed {
  stroke: #F22F1D;
  stroke-width: 0.14rem;
  animation: hexagoncolorchange 12s ease-in-out infinite;
}

@keyframes hexagoncolorchange {
  0% {
    stroke: #F22F1D;
  }
  16% {
    stroke: #F7CF05;
  }
  32% {
    stroke: #6C45BF;
  }
  48% {
    stroke: #05F2F2;
  }
  64% {
    stroke: #F250D7;
  }
  100% {
    stroke: #038C73;
  }
}

/*/////////////////////////////////////////////     PAUSE SECTION FOOTER    //////////////////////////////////////////////////////////////////////*/

#pausesectionfooter {
  /* Flex item props */
  flex: 0 1 auto;
  
  /* Flex parent props */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pausesectionfooter > * {
  width: 80%;
}

#pausesectionoptions {
  /* Flex parent props */
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
}

#pausesectionoptions > img {
  cursor: pointer;
  height: 1.7rem;

  /* Flex item props */
  flex: 1 1 auto;
}





/*/////////////////////////////////////////////     MEDIA QUERIES     //////////////////////////////////////////////////////////////////////*/
@media only screen and (min-device-width:800px) {
  #gameoverscreen > * {
    width: 40%;
  }
  
  #highscorehistorydisplay > * {
    width: 40%;
  }
  
  #gameoverdisconnected > * {
    width: 45%;
  } 
  
  #cScore {
    font-size:3.78rem;
    font-weight: 500;
    margin-bottom:5px;
    margin-top:-10px;
  }
  
  #cTime {
    font-size: 1.88rem;
    font-weight: 500;
    margin-bottom:5px;
    margin-top: -10px;
  }
  
  #gameoverscreenfooter > * {
    width: 80%;
  }

  #pausesection {
    padding-top: 5rem;
  }

  #pausesection > * {
    width: 80%;
  }

  #pausesectionfooter > * {
    width: 40%;
  }

  #instructionsbody {
    font-size: 1.2rem;
    width: 60%;
  }

  .instructionspart > *:nth-child(1) {
  
    /* Flex item props */
    flex: 1 1 20%;
  
  }

  .centeredHeader {
    font-size: 2.5rem;
    line-height: 4rem;
  }

  #pauseBtn {
    height: 4rem;
  }
}

@media only screen and (min-device-width:600px) and (max-device-width:800px) {
  #gameoverscreen > * {
    width: 60%;
  }
  
  #cScore {
    font-size:2.8rem;
    font-weight: 500;
    margin-bottom:5px;
    margin-top:-10px;
  }
  
  #cTime {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom:5px;
    margin-top: -10px;
  }
  
  #pausesection > * {
    width: 60%;
  }

  #instructionsbody {
    font-size: 1rem;
    width: 80%;
  }
}

@media only screen and (min-device-width:1024px) {
  #pausesection > * {
    width: 50%;
  }
  
  #instructionsbody{
    width: 100%;
  }
}























.tweet {
	font-size:2rrem;
	color:#4099FF;
}

@media only screen and (min-device-width:320px) and (max-device-width:480px) {
	.tweet{
		font-size:1rrem;
	}
}
a {
	color:#232323;
}
.navbar {
	width:80%;
	margin:0 auto;
	padding:2.5vmin 0;
	text-align:center;
}
.navbar li {
	display:inline-block;
	text-align:center;
	width:calc(33% - 1.25vmin);
}

#title {
	color:#FFFFFF;
	font-size:6vmin;
}

.not-visible {
	display:none;
}

button {
	color:#FFFFFF;
	background-color:rgba(0,0,0,0);
	border:0;
}

button:focus {
	outline:0;
}

@media only screen and (max-device-width:480px) {
  .bigtitle {
    font-size: 1.1rem;
  }
}

#buttonCont {
	position:absolute; 
	left:50%;
	width:310px;
	margin-left:-8px;
	transform:translate(-50%, 0%);
	-webkit-transform:translate(-50%, 0%);
	-moz-transform:translate(-50%, 0%);
	-ms-transform:translate(-50%, 0%);
}

@media only screen and (orientation:landscape) {
	#buttonCont {
		bottom:calc(50vh - 19vh - 36px);
	}
}

@media only screen and (orientation:portrait) {
	#buttonCont {
		bottom:calc(50vh - 19vw - 36px);
	}
}

@media only screen and (min-device-width:320px) and (max-device-width:600px) {
	.overlay {
		margin-top:-20%;
	}

	#buttonCont {
		width:280px;
	}

	@media only screen and (orientation:landscape) {
		#buttonCont {
			bottom:119px;
		}
	}

	@media only screen and (orientation:portrait) {
		#buttonCont {
			bottom:119px;
		}
	}
}
.blur {
	opacity:0.1;
}

* {
	padding:0;
	margin:0;
}

body {
	color:#FFFFFF;
	font-family:''Open Sans'', sans-serif;
	background-color:#252D38;
}

#clickToExit {
	cursor:pointer;
}

#canvas {
	transition:all 0.5s ease;
	position:absolute;
	left:0;
	right:0;
	height:100%;
	width:100%;
	background-color:#252D38;
	z-index:0;
}
#title {
	z-index:99;
	margin-top:20px;
	color:#2c3e50;
}


#socialShare{
	display:none;
	margin:0;
	padding:0;
	bottom:0;
	margin-bottom: 6.5px;
	position:absolute;
	left:calc(50% + 30px);
	transform:translate(-50%, 0%);
	-webkit-transform:translate(-50%, 0%);
	-moz-transform:translate(-50%, 0%);
	-ms-transform:translate(-50%, 0%);
    padding-bottom: 2px;
}

.unselectable {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

body {
	overflow:hidden;
}

#androidBadge {
	position:absolute;
	height:41px;
	margin-top:5px;
	left:calc(50% - 66px);
	transform:translate(calc(-50% - 4px), -1px);
	-webkit-transform:translate(calc(-50% - 4px), -1px);
	-moz-transform:translate(calc(-50% - 4px), -1px);
	-ms-transform:translate(calc(-50% - 4px), -1px);
}

#iOSBadge {
	margin-top:5px;
	position:absolute;
	left:calc(50% + 65px);
	transform:translate(calc(-50% - 4px), 0%);
	-webkit-transform:translate(calc(-50% - 4px), 0%);
	-moz-transform:translate(calc(-50% - 4px), 0%);
	-ms-transform:translate(calc(-50% - 4px), 0%);
}
