* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	padding:0;
	margin:0;
}

.tweet {
        font-size:2rem;
        color:#4099FF;
}
@media only screen
and (min-device-width : 320px)
    and (max-device-width : 480px) {
        .tweet{
                font-size:1rem;
        }
}

a {
    color:#232323;
}

.twitter-share-button { width: 90px !important; }

.navbar {
	width: 80%;
	margin: 0 auto;
	/*background-color: #34495e;*/
	padding: 2.5vmin 0;
	text-align: center;
}

.navbar li {
	display: inline-block;
	text-align: center;
	width: calc( 33% - 1.25vmin );
	/*pointer-events: none;*/
}

#title {
	color: #ecf0f1;
	font-size: 6vmin;
}

#score {
	font-size: 4vmin;
	text-align: center;
	width: 30%;
}

#highscores {
	text-align: center;
	list-style: none;
}

.not-visible {
	display: none;
}

button {
	color: #ecf0f1;
	background-color: rgba(0,0,0,0);
	border: 0;
}

button:focus {
	outline: 0;
}

#openSideBar {
    position: absolute;
    top: 2px;
    left: 4px;
    z-index: 3002;
    color:#232323;
    cursor:pointer;
}

#pauseBtn {
	position: absolute;
	margin-bottom: 3px;
    width:60px;
    height:60px;
	margin-right: 7px;
	z-index: 3000;
	color:#232323;
	cursor:pointer;
    position:absolute;
    right:0;
    bottom:0;
    z-index:99;
}

#pauseBtnInner {
    margin-left:35px;
    margin-top:28px;
}

#restartBtnInner {
    margin-top:28px;
}

#restartBtn {
    position:absolute;
    left:0;
    width:60px;
    height:60px;
    bottom:0;
    z-index:99;
	position: absolute;
	margin-bottom: 3px;
	margin-left: 7px;
	z-index:99;
	color:#232323;
	cursor:pointer;
}

#helpScreen {
	height:480px;
	width:320px;
	z-index:3001;
	position:fixed;
	top:18px;
    margin:0;
    font-size:15px;
    text-align:center;
	display:none;
	color:#232323;
	background-color:rgba(236,240,241,.7);
}

#colorBlindBtn {
	position:absolute;
	width:120px;
	height:20px;
	z-index:9999;
	left: 47%;
	top:65%;
	font-size:15px;
	text-align:center;
	color:#232323;
	cursor:pointer;
}
.instructions_body {
    margin-left:3px;
    width:calc(100% - 12px) ! important;
}

@media only screen and (min-device-width : 320px) 
and (max-device-width : 480px) {
    #helpScreen {
        position:fixed;
        top:2px;
        padding-top:20px;
        margin:0;
        width:100%;
        height:100%;
        font-size:13px;
        text-align:center;
        background-color:rgba(255,255,255,0.9);
    }

    .instructions_body {
        /*margin-top:20px;*/
        margin-left:3px;
        width:calc(100% - 12px) ! important;
    }
}

#overlay {
    position:absolute;
    height:20%;
    width:100%;
    left:50%;
    top:50%;
    margin-left:-50%;
    margin-top:-10%;
    z-index:3000;
    color:#232323;
    text-align:center;
}

.helpText {
    z-index:3001;
}

.centeredHeader {
   font-size:5vw; 
   text-align:center;
   line-height:4rem;
}

.centeredSubHeader {
   font-size:2.2rem; 
   line-height:1em;
   text-align:center;
}

.centeredSubSubHeader {
    font-size:1.4rem; 
    text-align:center;
}
#attributions {
    color:#232323;
    position:absolute;
    width:100%;
    left: 0%;
    top: 80%;
    text-align:center;
    font-size:1.25rem;
    z-index:98;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 580px) {
    .centeredHeader {
        font-size:2rem; 
        text-align:center;
        line-height:0.6rem;
    }

    #attributions {
        font-size:.7rem;
    }

    .centeredSubHeader {
        font-size:1rem; 
        text-align:center;
    }

    #overlay {
        margin-top: -20%;
    }
}
.blur {
    opacity:0.1;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'), local('Roboto-Regular'), url("fonts/roboto.woff") format('woff');
}

@font-face {
    font-family: 'Q';
    font-style: normal;
    font-weight: 400;
    src: local('Q Regular'), local('Q-Regular'), url("fonts/QuattrocentoSans-Regular.ttf") format('ttf');
}


* {
    padding: 0;
    margin: 0;
}

body {
    color: #ecf0f1;
    font-family: 'Roboto', sans-serif;
    background-color:#ecf0f1;
}

#clickToExit {
    cursor:pointer;
}

#canvas {
    transition: all 0.5s ease;
    position: absolute;
    left:0;
    right:0;
	height:100%;
	width:100%;
    background-color:#ecf0f1;
    z-index:3;
}

#title {
    z-index:99;
    margin-top:20px;
    color:#2c3e50;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#bottombar {
	padding:0;
	position:fixed;
	width:1000px;
	text-align:center;
	left:50%;
        margin-left:-510px;
	bottom:10px;
	z-index:98;
}
